<%= render 'shared/header'%>

 <div class="container">
   <%= form_with(model: @tweet, local: true) do |form| %>
     <%= render 'shared/error_messages', model: form.object %>
     <%= render partial: "shared/form", locals: { form: form } %>
   <% end %>
 </div>

<%= render 'shared/footer' %>