<div class="d-flex justify-content-around p-3 mb-2 header-logo">
  <div>
    <%= link_to root_path do %>
    <%= image_tag "image/mig.jpeg", size:"80x80" %>
    <% end %>
  </div>
  <div>
    <ul class="nav nav-pills d-flex flex-row-reverse bd-highlight">
      <li class="nav-item">
        <%=link_to "Bリーグ", "https://www.bleague.jp/", class:"nav-link active"%> 
      </li>
      <li class="nav-item">
        <%=link_to "交換", "#", class:"nav-link active"%> 
      </li>
      <li class="nav-item">
        <%=link_to "コミュニケーション", chat_home_index_path, class:"nav-link active"%>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-around d-flex align-items-center">
  <div>
    <% if user_signed_in? %>
      <div class="mx-2">
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class:"rounded-pill"%>
      </div>
      <div class="mx-2">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"rounded-pill" %>
      </div>
    <% else %>
      <div class="mx-2">
        <%= link_to '新規登録', new_user_registration_path, class:"rounded-pill"%>
      </div>
      <div class="mx-2">
        <%= link_to 'ログイン', new_user_session_path, class:"rounded-pill" %>
      </div>
    <% end %>
  </div>
  </div>
</div>


