 <div class="row match-to-row d-flex justify-content-center">
  <div class="col-lg-6 col-sm-6">
    <div class="thumbnail"> 
      <p class="bg-primary text-white mb-3"><%= tweet.name%></p>
    <%= link_to discussion_tweet_path(tweet.id)  do %>
      <%= image_tag tweet.image, class:"img-fluid", size: "200x200" %>
    <% end %>
      <p class="bg-primary text-white mb-3"><%= tweet.text %></p>
      <span>投稿者</span><%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id) %>
    </div>
  </div>
</div>
